body{

    background-color: rgb(154, 191, 206);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
}

  
#heading1{
    font-family: 'Itim', cursive;
    text-align: center;
    font-size: x-large;
}
