body{

    background-color: rgb(154, 191, 206);
}
p{
  font-family: 'Itim', cursive;
  text-align: center;
  font-size: xmedium;

}

.container {

    background-color: rgb(97, 183, 209);
    padding-bottom:10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
    font-family: 'Itim', cursive;
    border: 5px dotted black;
    
}
#heading1{
    font-family: 'Itim', cursive;
    text-align: center;
    font-size: x-large;
}

.redbutton {
    background-color: #9fa052;
    border:none;
    font-family: 'Itim', cursive;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    margin-left: 110px;
    padding-bottom: 10px;
    text-decoration:none;
    font-size: 15px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .bluebutton {
    background-color: #9fa052;
    border:none;
    font-family: 'Itim', cursive;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    margin-left: 110px;
    padding-bottom: 10px;
    text-decoration:none;
    font-size: 15px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .greenbutton {
    background-color: #9fa052;
    border:none;
    font-family: 'Itim', cursive;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    margin-left: 110px;
    padding-bottom: 10px;
    text-decoration:none;
    font-size: 15px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .redbutton:hover {
    background-color: red; /* Red */
    color: white;
  }

  .bluebutton:hover {
    background-color:blue; /* Blue */
    color: white;
  }

  .greenbutton:hover {
    background-color: green; /* Green */
    color: white;
  }